body {
  background: wheat;
}

.btn {
  background: red;
  font-family: cursive;
  font-weight: bolder;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  margin: 2rem;
}
.btn:hover {
  background: yellow;
  cursor: pointer;
}
.btn-container {
  text-align: center;

  margin-top: 2rem;
}
#counter {
  text-align: center;
  font-size: 10rem;
  margin: 1rem;
}
