body {
  background: wheat;
}
main {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  text-align: center;
}

.btn {
  background: rgb(136, 101, 41);
  font-family: cursive;
  font-weight: bolder;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(1, 1, 5, 0.2);
  font-size: 2rem;
  margin: 2rem;
  padding: 0.75rem;
  color: aliceblue;
}
.btn:hover {
  background: rgb(80, 138, 137);
  cursor: pointer;
}
.btn-container {
  text-align: center;

  margin-top: 2rem;
}
#counter {
  text-align: center;
  font-size: 10rem;
  margin: 1rem;
}

h1 {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
}
